{
  "development": {
    "host": "preview.contentful.com",
    "spaceId": "ovvoyqkkbz99",
    "accessToken": "VNgRItGMJaV_04xrYYHxvHdMvd1-UDtOfL096XUcI1k"
  },
  "production": {
    "spaceId": "ovvoyqkkbz99",
    "accessToken": "VNgRItGMJaV_04xrYYHxvHdMvd1-UDtOfL096XUcI1k"
  }
}
